.header_basket_item {
  display: flex;
color: var(--color1);
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  svg {
    width: 48px;
    height: 48px;
  }
  span {
width: calc(100% - 58px);
  }
  i {
    color: var(--color2);
    display: block;
    font-style: normal;
  }
}

.bx-basket {
  margin: 61px 0px 0px 15px;
}