
h1, h2 {
  margin: 30px 0px;
  padding: 0ex;
  font-size: 30px;
  line-height: 37px;
  @media (max-width: 970px) {
    margin: 20px 0px;
    font-size: 23px;
    line-height: 29px;
  }
}
h3 {
  margin: 0px 0px 30px 0px;
  padding: 0ex;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
}

p {
  color: #5C5C5C;
  margin: 0;
  padding: 0px 0px 30px 0px;
}

blockquote {
  margin: 0px 0px 30px 0px;
  position: relative;
  padding: 0px 0px 0px 20px;

  &:before {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--color1);
  }
}