
body {
  //font-family: 'Pacifico', cursive;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  color: var(--color5);
}


a {
  color: var(--color4);

  &:active {
    position: relative;
    bottom: -1px;
  }
}


// HEADER
.header {
  display: flex;
  justify-content: space-between;

  &_logo {
    width: 117px;

    a {
      display: block;
    }

    img {
      width: 100%;
    }
  }


  &_content {
    width: calc(100% - 117px - 190px);
    padding: 0px 30px;

    &_row {
      span {
        display: block;
        text-align: center;
        padding: 20px 0px;
        font-family: 'Pacifico', cursive;
        font-size: 29px;
        color: var(--color2);
      }

      i {
        color: var(--color1);
        font-style: normal;
      }
    }
  }

  &_cart {
    width: 190px;
  }
}


// FOOTER
.footer {
  display: flex;
  padding: 30px;
  background: #f6f6f6;
  justify-content: space-between;
  &_copies {
    width: 40%;
  }

  &_stat {
    width: 40%;
    text-align: right;
  }
}